server {
    server_name 127.0.0.1;
    # this line have to be added to /etc/hosts file: 127.0.0.1 - ex: username.42.fr

    listen 80;
    listen [::]:80;

    # Proxy only /auth/google/callback to backend
    location = /auth/google/callback {
        proxy_pass http://pong:3000/auth/google/callback;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
    }

    # Redirect all HTTP requests to HTTPS
    # 301 is an HTTP status code meaning "Moved Permanently."
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    server_name jesopan-.42.fr;

    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/nginx/ssl/jesopan-.42.fr.crt;
    ssl_certificate_key /etc/nginx/ssl/jesopan-.42.fr.key;

    location / {
        proxy_pass http://pong:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
    }
}